#block-boxes-ds-feedback {
  position:fixed;
  bottom:0px;
  right:10px;
  z-index:3000;
  }

#block-boxes-ds-feedback .block-title {
  position:absolute;
  right:0px;
  top:-20px;
  width:auto;

  cursor:pointer;
  padding:0px 10px;
  white-space:nowrap;

  line-height:20px;
  font-size:11px;
  text-transform:none;

  color:#fff;
  background:#54584c;
  border:none;

  opacity:.9;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  }

  #block-boxes-ds-feedback .block-title:hover,
  #block-boxes-ds-feedback.ds-feedback-active .block-title { opacity:1; }

#block-boxes-ds-feedback .block-content {
  color:#333;
  border:5px solid #54584c;
  border-bottom:0px;
  display:none;
  padding:0;
  width:200px;
  background:#fff;
  }

  #block-boxes-ds-feedback .block-content .boxes-box {
    padding:15px 15px 20px;
    }


  #block-boxes-ds-feedback .block-content .buttons {
    padding:20px 0px 0px;
    text-align:center;
    }
